{erl_opts, [debug_info]}.
{sub_dirs, ["rel"]}.

%{escript_name, "bin/sf"}.
%{escript_incl_apps, [handyman, getopt]}.

{lib_dirs, ["deps"]}.

{deps, [
    {handyman, "0.2.0", {git, "git://github.com/prisms-center/handyman.git", {branch, "v0.2"}}}
    %{getopt, "0.7.1", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.7.1"}}},
    %{bcrypt, "0.5.0", {git, "git://github.com/smarkets/erlang-bcrypt.git", {tag, "0.5.0"}}}
]}.
