{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "process_monitor", "0.3.0",
        [
         kernel,
         stdlib,
         sasl,
         handyman,
         process_monitor
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "process_monitor"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, handyman, [{incl_cond, include}]},
       {app, process_monitor, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "process_monitor"}.

{overlay_var, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/pm.config", "etc/pm.config"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/process_monitor", "bin/process_monitor"},
           {copy, "../bin/pmctl", "bin/pmctl"},
           {copy, "files/process_monitor.cmd", "bin/process_monitor.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {mkdir, "lib/prisms-patches"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
